# Simple SQL EDA Practice

In [3]:
%pip install pyarrow
%pip install pandasql

Collecting pyarrow
  Downloading pyarrow-15.0.2-cp311-cp311-win_amd64.whl.metadata (3.1 kB)
Requirement already satisfied: numpy<2,>=1.16.6 in c:\users\savio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyarrow) (1.25.2)
Downloading pyarrow-15.0.2-cp311-cp311-win_amd64.whl (24.8 MB)
   ---------------------------------------- 0.0/24.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/24.8 MB ? eta -:--:--
   ---------------------------------------- 0.1/24.8 MB 1.1 MB/s eta 0:00:24
    --------------------------------------- 0.4/24.8 MB 3.7 MB/s eta 0:00:07
   -- ------------------------------------- 1.3/24.8 MB 8.3 MB/s eta 0:00:03
   ---- ----------------------------------- 2.7/24.8 MB 12.3 MB/s eta 0:00:02
   ------ --------------------------------- 4.0/24.8 MB 16.1 MB/s eta 0:00:02
   --------- ------------------------------ 5.6/24.8 MB 18.1 MB/s eta 0:00:02
   --------- ------------------------------ 5.7/24.8 MB 18.3 MB/s eta 0:00:02
   ----------- ---------------------------- 7.4/24.8 MB 19.0 MB/s eta 0:00:01
   -------------- ------------------------- 8.7/24.8 MB 19.2 MB/s eta 0:00:01
   ---------------- ----------------------- 10.1/24.8 MB 20.9 MB/s eta 0:00:01
   ----------------- ---------------------- 10.9/24.8 MB 27.3 MB/s eta 0:00:01
   ------------------ --------------------- 11.6/24.8 MB 25.2 MB/s eta 0:00:01
   --------------------- ------------------ 13.1/24.8 MB 25.2 MB/s eta 0:00:01
   ----------------------- ---------------- 14.6/24.8 MB 26.2 MB/s eta 0:00:01
   ------------------------- -------------- 16.0/24.8 MB 29.7 MB/s eta 0:00:01
   -------------------------- ------------- 16.4/24.8 MB 26.2 MB/s eta 0:00:01
   ---------------------------- ----------- 17.5/24.8 MB 24.2 MB/s eta 0:00:01
   ------------------------------- -------- 19.3/24.8 MB 25.2 MB/s eta 0:00:01
   -------------------------------- ------- 19.9/24.8 MB 23.4 MB/s eta 0:00:01
   ---------------------------------- ----- 21.1/24.8 MB 23.4 MB/s eta 0:00:01
   ------------------------------------ --- 22.7/24.8 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------  24.4/24.8 MB 26.2 MB/s eta 0:00:01
   ---------------------------------------  24.8/24.8 MB 27.3 MB/s eta 0:00:01
   ---------------------------------------- 24.8/24.8 MB 24.2 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-15.0.2
Note: you may need to restart the kernel to use updated packages.
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: numpy in c:\users\savio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandasql) (1.25.2)
Requirement already satisfied: pandas in c:\users\savio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandasql) (2.2.0)
Collecting sqlalchemy (from pandasql)
  Downloading SQLAlchemy-2.0.28-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\savio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\savio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\savio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\savio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy->pandasql) (4.9.0)
Collecting greenlet!=0.4.17 (from sqlalchemy->pandasql)
  Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: six>=1.5 in c:\users\savio\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Downloading SQLAlchemy-2.0.28-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   -- ------------------------------------- 0.1/2.1 MB 2.4 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.1 MB 7.3 MB/s eta 0:00:01
   ---------------------------------------  2.0/2.1 MB 14.5 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 13.2 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl (292 kB)
   ---------------------------------------- 0.0/292.8 kB ? eta -:--:--
   --------------------------------------- 292.8/292.8 kB 17.7 MB/s eta 0:00:00
Building wheels for collected packages: pandasql
  Building wheel for pandasql (pyproject.toml): started
  Building wheel for pandasql (pyproject.toml): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26801 sha256=f7dbae99535792655b6d07a2a106ab29e030f6025c24da593f32e0e0b49594df
  Stored in directory: c:\users\savio\appdata\local\pip\cache\wheels\68\5d\a5\edc271b998f909801d7956959f699b976cc9896075dc47c153
Successfully built pandasql
Installing collected packages: greenlet, sqlalchemy, pandasql
Successfully installed greenlet-3.0.3 pandasql-0.7.3 sqlalchemy-2.0.28
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
from pandasql import sqldf

# Load your salaries data from a CSV file into a pandas DataFrame
salaries_df = pd.read_csv('salaries.csv')

# Initialize SQL query environment
pysqldf = lambda q: sqldf(q, globals())

In [5]:
# 1. Aggregate Analysis
# Average salary by experience level
query1 = """
         SELECT experience_level, AVG(salary_in_usd) AS average_salary
         FROM salaries_df
         GROUP BY experience_level;
         """

# Execute query
result1 = pysqldf(query1)
print("Average salary by experience level:")
print(result1)

Average salary by experience level:
  experience_level  average_salary
0               EN    91181.597858
1               EX   193152.746898
2               MI   125056.384032
3               SE   163579.452422

In [6]:
# 2. Average salary by job title
query2 = """
         SELECT job_title, AVG(salary_in_usd) AS average_salary
         FROM salaries_df
         GROUP BY job_title;
         """
result2 = pysqldf(query2)
print("\nAverage salary by job title:")
print(result2)

Average salary by job title:
                           job_title  average_salary
0                       AI Architect   253482.750000
1                       AI Developer   135466.789474
2                        AI Engineer   162821.898876
3                 AI Product Manager   141766.666667
4                      AI Programmer    62042.000000
..                               ...             ...
141               Sales Data Analyst    60000.000000
142           Software Data Engineer   111627.666667
143               Staff Data Analyst    79917.000000
144             Staff Data Scientist   134500.000000
145  Staff Machine Learning Engineer   185000.000000

[146 rows x 2 columns]

In [7]:
# Average salary by company size
query3 = """
         SELECT company_size, AVG(salary_in_usd) AS average_salary
         FROM salaries_df
         GROUP BY company_size;
         """
result3 = pysqldf(query3)
print("\nAverage salary by company size:")
print(result3)

Average salary by company size:
  company_size  average_salary
0            L   139295.005192
1            M   151706.379861
2            S    87173.668539

In [8]:
# Average salary by company location
query4 = """
         SELECT company_location, AVG(salary_in_usd) AS average_salary
         FROM salaries_df
         GROUP BY company_location;
         """
result4 = pysqldf(query4)
print("\nAverage salary by company location:")
print(result4)

Average salary by company location:
   company_location  average_salary
0                AD    50745.000000
1                AE    97500.000000
2                AM    50000.000000
3                AR    69571.428571
4                AS    31684.333333
..              ...             ...
72               TR    23094.666667
73               UA   105600.000000
74               US   157602.318167
75               VN    63000.000000
76               ZA    55786.533333

[77 rows x 2 columns]

In [10]:
# 3. Trend Analysis
# Salary trends over the years by experience level
query6 = """
         SELECT work_year, experience_level, AVG(salary_in_usd) AS average_salary
         FROM salaries_df
         GROUP BY work_year, experience_level
         ORDER BY work_year ASC, experience_level;
         """
result6 = pysqldf(query6)
print("\nSalary trends over the years by experience level:")
print(result6)

Salary trends over the years by experience level:
    work_year experience_level  average_salary
0        2020               EN    69840.666667
1        2020               EX   179958.250000
2        2020               MI    91870.935484
3        2020               SE   138648.894737
4        2021               EN    63463.065217
5        2021               EX   186128.000000
6        2021               MI    86818.390805
7        2021               SE   125989.746667
8        2022               EN    80018.698276
9        2022               EX   188260.292683
10       2022               MI   102733.432961
11       2022               SE   147982.512753
12       2023               EN    91304.915767
13       2023               EX   191314.194215
14       2023               MI   123821.311772
15       2023               SE   165421.026078
16       2024               EN    98953.283465
17       2024               EX   200403.179245
18       2024               MI   138183.838475
19       2024               SE   168682.866146

In [11]:
# 4. Remote Work Analysis
# Average salary by remote ratio category
query7 = """
         SELECT 
             CASE 
                 WHEN remote_ratio = 0 THEN 'No remote work'
                 WHEN remote_ratio = 100 THEN 'Fully remote'
                 ELSE 'Partially remote' 
             END AS remote_category, 
             AVG(salary_in_usd) AS average_salary
         FROM salaries_df
         GROUP BY remote_category;
         """
result7 = pysqldf(query7)
print("\nAverage salary by remote ratio category:")
print(result7)

Average salary by remote ratio category:
    remote_category  average_salary
0      Fully remote   145413.594666
1    No remote work   154093.708179
2  Partially remote    81840.377593

In [12]:
# 5. Company Analysis
# Comparison of average salaries between company locations
query8 = """
         SELECT company_location, AVG(salary_in_usd) AS average_salary
         FROM salaries_df
         GROUP BY company_location;
         """
result8 = pysqldf(query8)
print("\nComparison of average salaries between company locations:")
print(result8)

Comparison of average salaries between company locations:
   company_location  average_salary
0                AD    50745.000000
1                AE    97500.000000
2                AM    50000.000000
3                AR    69571.428571
4                AS    31684.333333
..              ...             ...
72               TR    23094.666667
73               UA   105600.000000
74               US   157602.318167
75               VN    63000.000000
76               ZA    55786.533333

[77 rows x 2 columns]

In [13]:
# 6. Data Cleaning
# Identify rows with missing salary information
query9 = """
         SELECT *
         FROM salaries_df
         WHERE salary_in_usd IS NULL OR salary_in_usd = 0;
         """
missing_salary_info = pysqldf(query9)
print("\nRows with missing salary information:")
print(missing_salary_info)

Rows with missing salary information:
Empty DataFrame
Columns: [work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size]
Index: []

In [14]:
# Identify rows with missing or inconsistent experience levels
query10 = """
          SELECT *
          FROM salaries_df
          WHERE experience_level NOT IN ('SE', 'ME', 'EE', 'NA');
          """
inconsistent_experience_levels = pysqldf(query10)
print("\nRows with missing or inconsistent experience levels:")
print(inconsistent_experience_levels)

Rows with missing or inconsistent experience levels:
      work_year experience_level employment_type  \
0          2024               MI              FT
1          2024               MI              FT
2          2024               MI              FT
3          2024               MI              FT
4          2024               MI              FT
...         ...              ...             ...
4719       2021               MI              FT
4720       2021               MI              FT
4721       2021               MI              FT
4722       2020               EN              FT
4723       2020               EN              CT

                               job_title  salary salary_currency  \
0        Business Intelligence Developer   95413             USD
1        Business Intelligence Developer   70692             USD
2                          Data Engineer   98000             USD
3                          Data Engineer   68300             USD
4              Machine Learning Engineer  223100             USD
...                                  ...     ...             ...
4719  Applied Machine Learning Scientist  423000             USD
4720                       Data Engineer   24000             EUR
4721            Principal Data Scientist  151000             USD
4722                      Data Scientist  105000             USD
4723               Business Data Analyst  100000             USD

      salary_in_usd employee_residence  remote_ratio company_location  \
0             95413                 US           100               US
1             70692                 US           100               US
2             98000                 US             0               US
3             68300                 US             0               US
4            223100                 US           100               US
...             ...                ...           ...              ...
4719         423000                 US            50               US
4720          28369                 MT            50               MT
4721         151000                 US           100               US
4722         105000                 US           100               US
4723         100000                 US           100               US

     company_size
0               M
1               M
2               M
3               M
4               M
...           ...
4719            L
4720            L
4721            L
4722            S
4723            L

[4724 rows x 11 columns]